<div class="container-fluid">
      <div class="row">
        

        <main role="main" class="col-md-9 col-12 col-md-10 offset-md-1  pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Auditoría y Facturación de Turnos </h1>
            <button class="btn btn-primary" id="btnRegistrarFacturacion" name="btnRegistrarFacturacion">Registrar facturación</button>
            <!-- <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div> -->
          </div>        
          <div class="row">
            <div class="col-12 col-md-3">
              <h4>Filtros de la tabla</h4>
            </div>  
            <div class="col-12 col-md-3">
              <select id="selEstado" name="selEstado" class="form-control">
                <option value="1" selected="">Sin Auditar</option>
                <option value="2">Auditado</option>
                <option value="3">Pendiente</option>
                <option value="4">Facturado</option>
              </select>
            </div>             
          </div>
          <hr>
          <div class="row">
            <div class="col-12 col-md-5">
              <span>Cambiar estado de la facturación marcada a:</span>
            </div>
            <div class="col-12 col-md-4">
              <select id="selEstadoUpdate" name="selEstadoUpdate" class="form-control">
                <option value="1" selected="">Sin Auditar</option>
                <option value="2">Auditado</option>
                <option value="3">Pendiente</option>
                <option value="4">Facturado</option>
              </select>
            </div>
            <div class="col-12 col-md-3">
              <button class="btn btn-info" id="btnMark">Cambiar</button>
            </div>
          </div>

          <!--
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Profesional - Obra Social</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Auditados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pendientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">DNI Paciente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          -->
          <!--<tr class="table-danger">-->
          <div class="table-responsive">
            <table data-toggle="table" class="table table-striped table-sm" id="tableAuditoria">
              
            </table>
          </div>
          
          <!--<canvas class="my-4" id="myChart" width="900" height="380"></canvas>-->

        </main>
      </div>
    </div>
    <!-- Modal registro de nueva práctica externa -->    

    <div class="modal fade" id="modalCRUDPracticaExterna" tabindex="-1" role="dialog" aria-labelledby="modalCRUDPracticaExternaLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCRUDPracticaExternaLabel">Registrar práctica externa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <span>Código de práctica</span>
                <input type="text" class="form-control" name="inpCreateCodigoPractica" id="inpCreateCodigoPractica">
              </div>              
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <span>Nombre de práctica</span>
                <input type="text" class="form-control" name="inpCreateNombrePractica" id="inpCreateNombrePractica">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <span>Especialidad</span>
                <input type="text" class="form-control" name="inpCreateEspecialidadPractica" id="inpCreateEspecialidadPractica">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <span>Importe</span>
                <input type="number" class="form-control" name="inpCreateImportePractica" id="inpCreateImportePractica">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <span>Comentario</span>
                <input type="text" class="form-control" name="inpCreateComentarioPractica" id="inpCreateComentarioPractica">
              </div>
            </div>
            <input type="hidden" name="inpCreateFactId" id="inpCreateFactId" value="">            
            <input type="hidden" name="inpCreateExtId" id="inpCreateExtId" value="">            
            <div class="row mt-3">
              <div class="col-12">
                <button class="btn btn-success btn-block" id="btnRegistrarPracticaExterna">Registrar</button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Pref OS Audit -->    

    <div class="modal fade" id="modalPrefOsAudit" tabindex="-1" role="dialog" aria-labelledby="modalPrefOsAuditLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-12 col-md-8">
                <h5 class="modal-title" id="modalPrefOsAuditLabel">Prefacturación - Control Obra Social</h5>
              </div>
              <div class="col-12 col-md-4">
                <b><h3 class="modal-title">CIMAC S.A.</h3></b>
              </div>
            </div>
            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12 col-md-6">
                <h5 class="modal-title" id="modalPrefOsAuditLabel">AUDITADOS</h5>
              </div>
              <div class="col-12 col-md-6">
                <div class="float-right"><p class="modal-title">Fecha: 04/09/2020</p></div>
              </div>
            </div>   

            <div class="table-responsive">
              <table class="table table-striped table-sm" id="tableAuditoria"></table> 
            </div> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal Cuenta Interna Liquidación -->    

    <div class="modal fade" id="modalCtaInternaLiqui" tabindex="-1" role="dialog" aria-labelledby="modalCtaInternaLiquiLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
              <div class="col-12 col-md-8">
                <h5 class="modal-title" id="modalCtaInternaLiquiLabel">Facturación</h5>
              </div>
            </div>            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12 col-md-3">
                <span>Código Obra Social</span>
                <input type="text" class="form-control" name="inpCodObrSoc" id="inpCodObrSoc" disabled>
              </div>
              <div class="col-12 col-md-3">
                <span>Sigla</span>
                <input type="text" class="form-control" name="inpSigla" id="inpSigla" disabled>
              </div>
              <div class="col-12 col-md-6">
                <span>Nombre Obra Social</span>
                <input type="text" class="form-control" name="inpNomOs" id="inpNomOs" disabled>
              </div>
            </div>
            <div class="row mt-3">
              
              <div class="col-12 col-md-3">
                <span>Código Agrupación</span>
                <input type="text" class="form-control" name="inpCodAgr" disabled>                
              </div>
              <div class="col-12 col-md-3">
                <span>Código Alternativo</span>
                <input type="text" class="form-control" name="inpCodAlt" disabled>              
              </div>
              <div class="col-12 col-md-3">
                <span>Fecha Facturación</span>
                <input type="date" class="form-control" name="inpFecFact" id="inpFecFact" disabled>              
              </div>              
            </div>
            <hr>
            <div class="row">
              <div class="col-12 col-md-4">
                <span>Nombre Paciente</span>
                <input type="text" class="form-control" name="inpNomPac" id="inpNomPac" disabled>
              </div>
              <div class="col-12 col-md-2">
                <span>Nº Documento</span>
                <input type="number" class="form-control" name="inpNroDoc" id="inpNroDoc" disabled>
              </div>
              <div class="col-12 col-md-4">
                <span>Tipo Documento </span>
                <h3>DNI</h3>
                <!--
                <input type="hidden" name="inpHiddenTipoDoc" value="">
                <div class="btn-group" role="group" aria-label="Tipo Doc" id="btnGroupTipoDoc">
                  <button type="button" class="btn btn-primary">DNI</button>
                  <button type="button" class="btn btn-secondary">LC</button>
                  <button type="button" class="btn btn-danger">LE</button>
                  <button type="button" class="btn btn-success">DU</button>
                </div>
                -->
              </div>
            </div>            
            <hr>
            <div class="row">
              <div class="col-12 col-md-3 offset-md-3">
                <span>Cuenta Interna Liquidación</span>
                <input type="text" class="form-control" name="inpCtaIntLiq" id="inpCtaIntLiq" disabled>
              </div>
              <div class="col-12 col-md-3">
                <span>Corresponde a la cuenta donde se LIQUIDA a </span>
                <span id="spanLiquidaA"><b>MOLLA LILIANA</b></span>
              </div>              
            </div> 
            <div class="row mt-3">
              <div class="col-12 col-md-3">
                <span>Fecha</span>
                <input type="date" class="form-control" name="inpFec" id="inpFec" disabled>
              </div>
              <div class="col-12 col-md-3">
                <span>Hora</span>
                <input type="time" class="form-control" name="inpHor" id="inpHor" disabled>
              </div>
              <div class="col-12 col-md-3">
                <span>Nº Carnet</span>
                <input type="text" class="form-control" name="inpCarnet" id="inpCarnet" disabled>
              </div>
              <div class="col-12 col-md-3">
                <span>Nº Orden</span>
                <input type="text" class="form-control" name="inpOrden" id="inpOrden" disabled>
              </div>
            </div>            
            <div class="row mt-3">             
              <div class="col-12 col-md-2">
                <span>Código Práctica</span>
                <input type="text" class="form-control" name="inpCodPra" id="inpCodPra" disabled>
              </div>
              <div class="col-12 col-md-4">
                <span>Nombre Práctica</span>
                <input type="text" class="form-control" name="inpNomPra" id="inpNomPra" disabled>
              </div>
               <div class="col-12 col-md-3">
                <span>Importe Práctica</span>
                <input type="number" class="form-control" name="inpImpPrac" id="inpImpPrac" disabled>
              </div>
              
            </div>
            
            <div class="row mt-3">
              <div class="col-12">
                <h4 class="text-center">Prácticas Externas</h4>
                <div class="table-responsive">
                  <table data-toggle="table" class="table table-striped" id="tableFacturacionesExternas"></table>
                </div>                
              </div>              
            </div>
            <div class="row ">              
              <div class="col-12 col-md-4 offset-md-4">
                <button class="btn btn-primary" id="btnCreateExt">Registrar Practica Externa</button>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 col-md-8 offset-md-2">
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="text-center">Importe Total Prácticas</h4>
                  </div>
                  <div class="col-md-6">
                    <input type="Number" class="form-control" style="font-size: 30px;" name="inpImpTotalPract" id="inpImpTotalPract" disabled>
                  </div>
                </div>
              </div>
            </div>
            <hr>            
            <div class="row mt-3">              
              <div class="col-12 col-md-6">
                <span>Cambiar Estado del registro de turno</span>
                <br>
                <div class="btn-group" role="group" aria-label="Gravado Excento">
                  <button type="button" class="btn btn-success" id="btnCambiarAuditado">Auditado</button>
                  <button type="button" class="btn btn-warning" id="btnCambiarPendiente">Pendiente</button>
                  <button type="button" class="btn btn-primary" id="btnCambiarFacturado">Facturado</button>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <span>Estado seleccionado</span>
                <h3 class="text-danger" id="h3EstadoActual"></h3>
                <input type="hidden" name="inpEstadoActual" id="inpEstadoActual" value="">
                <!--<input type="text" class="form-control" name="inpOpcTurDesc" >-->
              </div>
            </div>    
          </div>
          <input type="hidden" name="idFact" id="idFact" value="">
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="btnGuardar">Guardar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Graphs -->
    
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>-->
    
    
    <!-- Graphs -->
    <script src="js/vendor/moment_js_locales.js"></script>    
    <script src="js/AudFacTur.js?15"></script>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>-->
    
    